<div *ngIf="false">
  <p>Message not found</p>
</div>
<div>
  <a routerLink="/">Return to main page</a>
</div>
<div>
  <a routerLink="../../">Return to channel page</a>
</div>
<div *ngIf="!isItemExist">
  <p>Item not found</p>
</div>
<div *ngIf="isItemExist">
  <h3>{{itemTitle}}</h3>
  <p *ngIf="isItemDescriptionExist">{{itemDescription}}</p>
  <p *ngIf="!isItemDescriptionExist">The item doesn’t have description</p>
</div>
<div *ngIf="isItemExist">
  <a href="{{itemLink}}" target="blank">Read in source</a>
</div>
