<nav>
  <app-navigation
    [navigationLevel] = "2"
    [isChannelExist] = "isChannelExist"
    [isItemExist] = "isItemExist"
    [channelName] = "channelName"
    [itemId] = "itemId">
  </app-navigation>
</nav>

<div class="naim-container">
  <aside *ngIf="isChannelExist && isItemExist" class="statistic">
    <message-statistic
    [itemDescription] = "channel.items[itemId].description ?
    channel.items[itemId].description : ''"></message-statistic>
  </aside>

  <section  class="main-content">
    <div *ngIf="isChannelExist; then showChannel; else noChannel"></div>
    <ng-template #showChannel>

      <div *ngIf="isItemExist; then showItem; else noItem"></div>
      <ng-template #showItem>
        <md-card *ngIf="isItemExist">

          <div *ngIf="isItemTitleExist; then showItemTitle; else noItemTitle"></div>
          <ng-template #showItemTitle>
            <md-card-title>{{channel.items[itemId].title}}</md-card-title>
          </ng-template>
          <ng-template #noItemTitle>
            <md-card-subtitle>The item has no title</md-card-subtitle>
          </ng-template>

          <div *ngIf="isItemDescriptionExist; then showItemDescription; else noItemDescription"></div>
          <ng-template #showItemDescription>
            <md-card-content>{{channel.items[itemId].description}}</md-card-content>
          </ng-template>
          <ng-template #noItemDescription>
            <md-card-subtitle>The item has no description</md-card-subtitle>
          </ng-template>

          <div *ngIf="isItemLinkExist">
            <a md-button href="{{channel.items[itemId].link}}" target="blank">Read in source</a>
          </div>
        </md-card>
      </ng-template>
      <ng-template #noItem>
        <md-card>
          <md-card-content>Item not found</md-card-content>
        </md-card>
      </ng-template>
    </ng-template>

    <ng-template #noChannel>
      <md-card>
        <md-card-subtitle>Channel not found</md-card-subtitle>
      </md-card>
    </ng-template>
  </section>
</div>
