<aside>
  <h2>Statistic</h2>

  <div *ngIf="allLatinChars; then showLatinChars; else noLatinChars"></div>
  <ng-template #showLatinChars>
    <div>
      <h3>Latin characters</h3>
      <table>
        <thead>
          <tr>
            <th>Char</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quantityOfChar of quantityOfChars">
            <td>{{quantityOfChar.char}}</td>
            <td>{{(quantityOfChar.quantity/allLatinCharsLength*100).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template #noLatinChars>
    <div>
      <p>The message has no latin characters</p>
    </div>
  </ng-template>

</aside>
