<div *ngIf="isChannelExist && isItemExist" class="statistic">
  <app-statistic
  [itemDescription] = "channel.items[itemId].description ?
  channel.items[itemId].description : ''"
  [selector] = "'MessageComponent'"></app-statistic>
</div>

<div>
  <a routerLink="/">Return to main page</a>
</div>
<div>
  <a routerLink="../../">Return to channel page</a>
</div>

<div *ngIf="!isChannelExist">
  <p>Channel not found</p>
</div>

<div *ngIf="isChannelExist">
  <div *ngIf="!isItemExist">
    <p>Item not found</p>
  </div>
  <div *ngIf="isItemExist">
    <h3 *ngIf="!isItemTitleExist">The item has no title</h3>
    <h3 *ngIf="isItemTitleExist">{{channel.items[itemId].title}}</h3>

    <p *ngIf="!isItemDescriptionExist">The item has no description</p>
    <p *ngIf="isItemDescriptionExist">{{channel.items[itemId].description}}</p>

    <div *ngIf="isItemLinkExist">
      <a href="{{channel.items[itemId].link}}" target="blank">Read in source</a>
    </div>
  </div>
</div>
