<div *ngIf="isChannelExist" class="statistic">
  <channel-statistic [currentChannel] = "channel">
  </channel-statistic>
</div>

<nav *ngIf="isChannelExist">
  <app-navigation
    [isChannelExist]="isChannelExist"
    [navigationLevel]="1">
  </app-navigation>
</nav>

<section>
  <div *ngIf="isChannelExist; then showChannelItems; else channelNotFoung"></div>
  <ng-template #showChannelItems>
    <header><h2>{{channel.title}}</h2></header>
    <div>
      <ul>
        <li *ngFor="let item of channel.items; let i = index">
          <a routerLink="message/{{i}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template #channelNotFoung>
    <div><p>Channel not found</p></div>
  </ng-template>
</section>
