<div *ngIf="isChannelExist" class="statistic">
  <channel-statistic [currentChannel] = "channel">
  </channel-statistic>
</div>

<nav>
  <app-navigation
    [navigationLevel] = "1"
    [isChannelExist] = "isChannelExist"
    [channelName] = "channelName">
  </app-navigation>
</nav>

<section>
  <div *ngIf="isChannelExist; then showChannelItems; else channelNotFound"></div>
  <ng-template #showChannelItems>
    <header><h2>{{channel.title}}</h2></header>
      <md-nav-list>
          <a md-list-item
          *ngFor="let item of channel.items; let i = index"
          routerLink="message/{{i}}">{{item.title}}</a>
      </md-nav-list>
  </ng-template>
  <ng-template #channelNotFound>
    <div><p>Channel not found</p></div>
  </ng-template>
</section>
