/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.main-content {
  width: 59%;
  margin: 2%;
}

.statistic {
  float: right;
  width: 35%;
  margin: 0% 2% 2% 2%;
}

td {
  text-align: left;
}
