/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.main-content {
  width: 65%;
}

.statistic {
  float: right;
  width: 35%;
}

td {
  text-align: left;
}
