<div *ngIf="areChannelsLoaded" class="statistic">
  <home-statistic [allChannels] = "allChannels">
  </home-statistic>
</div>

<section>
  <nav>
    <ul>
      <li>Home</li>
    </ul>
  </nav>

  <header><h2>List of channels</h2></header>

  <div *ngIf="areChannelsLoaded; then showChannelList; else emptyChannelList"></div>
  <ng-template #showChannelList>
    <div>
      <ul>
        <li *ngFor="let channel of allChannels; let i = index">
          <h3><a routerLink="channel/{{channel.backendChannelInfo.name}}">
            {{channel.title}}
            </a>
          </h3>
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template #emptyChannelList>
    <div><p>List is empty</p></div>
  </ng-template>
</section>
