<div *ngIf="areChannelsLoaded" class="statistic">
  <app-statistic [allChannels] = "allChannels" [selector] = "'HomeComponent'">
  </app-statistic>
</div>

<nav>
  <ul>
    <li>Home</li>
  </ul>
</nav>

<div *ngIf="!areChannelsLoaded">
  <p>List is empty</p>
</div>

<div *ngIf="areChannelsLoaded">
  <h2>List of channels</h2>
  <ul *ngIf="areChannelsLoaded">
    <li *ngFor="let channel of allChannels; let i = index">
      <h3><a routerLink="channel/{{channel.backendChannelInfo.name}}">
        {{channel.title}}
        </a>
      </h3>
    </li>
  </ul>
</div>
