<div [ngClass]="{invisible:true}">
  <input type="text" [(ngModel)]="channel"
  (keypress)="($event.keyCode==13)? addChannel() : return" />
  <button>Add channel</button>
</div>
<div *ngIf="!isChannelsLoaded">
  <p>List is empty</p>
</div>

<div *ngIf="isChannelsLoaded">
  <h2>List of channels</h2>
  <ul *ngIf="isChannelsLoaded">
    <li *ngFor="let channel of channels; let i = index">
      <h3><a routerLink="channel/{{channelsInfo[i].name}}">{{channel?.title}}</a> </h3>
    </li>
  </ul>
</div>

<div>

</div>
